.bone {
    height: 0;
    width: 100%;
    border: 5px solid #0af9;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
  }
  
  .joint {
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
  }
  .joint-start {
    left: calc(0px - 7.5px);
    top: calc(50% - 7.5px);
    border: 3px solid rgb(3, 133, 35);
  }
  .joint-end {
    right: calc(0px - 7.5px);
    top: calc(50% - 7.5px);
    border: 3px solid rgb(168, 4, 4);
  }
  .bone-attach {
    position: absolute;
    transform-origin: 5px 5px;
  }
  .bone-attach-end {
    position: absolute;
    transform-origin: 5px 5px;
    translate: calc(-100% + 10px)
  }


.run .torso{
   animation: reduceTorsoHeight var(--runDuration) infinite linear;
}

@keyframes reduceTorsoHeight {
    0%, 50%, 100% {
        width: var(--torsoWidth);
    } 
    25%, 75% { 
        width: calc(var(--torsoWidth) - 5px);
    }
}


.run .hand-left {
    animation: moveLeftHand var(--runDuration) infinite linear;
}

.run .hand-right {
    animation: moveRightHand var(--runDuration) infinite linear;
}
.run .hand-left-lower {
    animation: moveLeftLowerHand var(--runDuration) infinite linear;
}

.run .hand-right-lower {
    animation: moveRightLowerHand var(--runDuration) infinite linear;
}

.run .leg-left {
    animation: moveLeftLeg var(--runDuration) infinite linear;
}

.run .leg-right {
    animation: moveRightLeg var(--runDuration) infinite linear;
}

.run .leg-left-lower {
    animation: moveLeftLowerLeg var(--runDuration) infinite linear;
}
.run .leg-right-lower {
    animation: moveRightLowerLeg var(--runDuration) infinite linear;
}

@keyframes moveLeftHand {
    0%, 100% {
        transform: rotateZ(45deg);
    }
    12.5% {
        transform: rotateZ(70deg);
    }
    25% {
        transform: rotateZ(15deg);
    }
    37.5%{
        transform: rotateZ(-5deg);
    }
    50% {
        transform: rotateZ(-30deg);
    }
    62.5%{
        transform: rotateZ(-45deg);
    }
    75%{
        transform: rotateZ(5deg);
    }
    87.5%{
        transform: rotateZ(15deg);
    }
}

@keyframes moveLeftLowerHand {
    0%, 100% {
        transform: rotateZ(-45deg);
    }
    12.5% {
        transform: rotateZ(-30deg);
    }
    25% {
        transform: rotateZ(-15deg);
    }
    37.5%{
        transform: rotateZ(5deg);
    }
    50% {
        transform: rotateZ(-45deg);
    }
    62.5%{
        transform: rotateZ(-90deg);
    }
    75%{
        transform: rotateZ(-5deg);
    }
    87.5%{
        transform: rotateZ(-15deg);
    }
}

@keyframes moveRightHand {
    0%, 100% {
        transform: rotateZ(-45deg);
    }
    12.5% {
        transform: rotateZ(-45deg);
    }
    25% {
        transform: rotateZ(-15deg);
    }
    37.5%{
        transform: rotateZ(5deg);
    }
    50% {
        transform: rotateZ(45deg);
    }
    62.5%{
        transform: rotateZ(70deg);
    }
    75%{
        transform: rotateZ(5deg);
    }
    87.5%{
        transform: rotateZ(-15deg);
    }
}

@keyframes moveRightLowerHand {
    0%, 100% {
        transform: rotateZ(-90deg);
    }
    12.5% {
        transform: rotateZ(-90deg);
    }
    25% {
        transform: rotateZ(-15deg);
    }
    37.5%{
        transform: rotateZ(-30deg);
    }
    50% {
        transform: rotateZ(-45deg);
    }
    62.5%{
        transform: rotateZ(-30deg);
    }
    75%{
        transform: rotateZ(-15deg);
    }
    87.5%{
        transform: rotateZ(-45deg);
    }
}

@keyframes moveLeftLeg {
    0%, 100% {
        transform: rotateZ(30deg);
    }
    12.5% {
        transform: rotateZ(10deg);
    }
    25% {
        transform: rotateZ(-15deg);
    }
    37.5%{
        transform: rotateZ(-60deg);
    }
    50% {
        transform: rotateZ(-35deg);
    }
    62.5%{
        transform: rotateZ(-30deg);
    }
    75%{
        transform: rotateZ(10deg);
    }
    87.5%{
        transform: rotateZ(30deg);
    }
}
@keyframes moveLeftLowerLeg {
    0%, 100% {
        transform: rotateZ(10deg);
    }
    12.5% {
        transform: rotateZ(45deg);
    }
    25%{
        transform: rotateZ(85deg);
    }
    37.5% {
        transform: rotateZ(80deg);
    }
    50% {
        transform: rotateZ(5deg);
    }
    62.5%{
        transform: rotateZ(30deg);
    }
    75%{
        transform: rotateZ(5deg);
    }
    87.5%{
        transform: rotateZ(0deg);
    }
}

/* Right leg */
@keyframes moveRightLeg {
    0%, 100% {
        transform: rotateZ(-30deg);
    }
    12.5% {
        transform: rotateZ(-30deg);
    }
    25% {
        transform: rotateZ(10deg);
    }
    37.5%{
        transform: rotateZ(30deg);
    }
    50% {
        transform: rotateZ(35deg);
    }
    62.5%{
        transform: rotateZ(5deg);
    }
    75%{
        transform: rotateZ(-10deg);
    }
    87.5%{
        transform: rotateZ(-60deg);
    }
}

@keyframes moveRightLowerLeg {
    0%, 100% {
        transform: rotateZ(2deg);
    }
    12.5% {
        transform: rotateZ(30deg);
    }
    25%{
        transform: rotateZ(5deg);
    }
    37.5% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(30deg);
    }
    62.5%{
        transform: rotateZ(60deg);
    }
    75%{
        transform: rotateZ(65deg);
    }
    87.5%{
        transform: rotateZ(85deg);
    }
}

.walk .torso{
    animation: reduceTorsoHeight var(--walkDuration) infinite linear;
 }
 
 @keyframes reduceTorsoHeight {
     0%, 50%, 100% {
         width: var(--torsoWidth);
     } 
     25%, 75% { 
         width: calc(var(--torsoWidth) - 5px);
     }
 }
 
 
 .walk .hand-left {
     animation: walkMoveLeftHand var(--walkDuration) infinite linear;
 }
 
 .walk .hand-right {
     animation: walkMoveRightHand var(--walkDuration) infinite linear;
 }
 .walk .hand-left-lower {
     animation: walkMoveLeftLowerHand var(--walkDuration) infinite linear;
 }
 
 .walk .hand-right-lower {
     animation: walkMoveRightLowerHand var(--walkDuration) infinite linear;
 }
 
 .walk .leg-left {
     animation: walkMoveLeftLeg var(--walkDuration) infinite linear;
 }
 
 .walk .leg-right {
     animation: walkMoveRightLeg var(--walkDuration) infinite linear;
 }
 
 .walk .leg-left-lower {
     animation: walkMoveLeftLowerLeg var(--walkDuration) infinite linear;
 }
 .walk .leg-right-lower {
     animation: walkMoveRightLowerLeg var(--walkDuration) infinite linear;
 }
 
 @keyframes walkMoveLeftHand {
     0%, 100% {
         transform: rotateZ(30deg);
     }
     12.5% {
         transform: rotateZ(35deg);
     }
     25% {
         transform: rotateZ(15deg);
     }
     37.5%{
         transform: rotateZ(-5deg);
     }
     50% {
         transform: rotateZ(-30deg);
     }
     62.5%{
         transform: rotateZ(-35deg);
     }
     75%{
         transform: rotateZ(5deg);
     }
     87.5%{
         transform: rotateZ(15deg);
     }
 }
 
 @keyframes walkMoveLeftLowerHand {
     0%, 100% {
         transform: rotateZ(-15deg);
     }
     12.5% {
         transform: rotateZ(-15deg);
     }
     25% {
         transform: rotateZ(-10deg);
     }
     37.5%{
         transform: rotateZ(-5deg);
     }
     50% {
         transform: rotateZ(-10deg);
     }
     62.5%{
         transform: rotateZ(-15deg);
     }
     75%{
         transform: rotateZ(-10deg);
     }
     87.5%{
         transform: rotateZ(-5deg);
     }
 }
 
 @keyframes walkMoveRightHand {
     0%, 100% {
         transform: rotateZ(-30deg);
     }
     12.5% {
         transform: rotateZ(-30deg);
     }
     25% {
         transform: rotateZ(-15deg);
     }
     37.5%{
         transform: rotateZ(5deg);
     }
     50% {
         transform: rotateZ(30deg);
     }
     62.5%{
         transform: rotateZ(35deg);
     }
     75%{
         transform: rotateZ(5deg);
     }
     87.5%{
         transform: rotateZ(-15deg);
     }
 }
 
 @keyframes walkMoveRightLowerHand {
     0%, 100% {
         transform: rotateZ(-15deg);
     }
     12.5% {
         transform: rotateZ(-15deg);
     }
     25% {
         transform: rotateZ(-10deg);
     }
     37.5%{
         transform: rotateZ(-5deg);
     }
     50% {
         transform: rotateZ(-10deg);
     }
     62.5%{
         transform: rotateZ(-15deg);
     }
     75%{
         transform: rotateZ(-10deg);
     }
     87.5%{
         transform: rotateZ(-5deg);
     }
 }
 
 @keyframes walkMoveLeftLeg {
     0%, 100% {
         transform: rotateZ(30deg);
     }
     12.5% {
         transform: rotateZ(10deg);
     }
     25% {
         transform: rotateZ(-15deg);
     }
     37.5%{
         transform: rotateZ(-35deg);
     }
     50% {
         transform: rotateZ(-35deg);
     }
     62.5%{
         transform: rotateZ(-30deg);
     }
     75%{
         transform: rotateZ(10deg);
     }
     87.5%{
         transform: rotateZ(30deg);
     }
 }
 @keyframes walkMoveLeftLowerLeg {
     0%, 100% {
         transform: rotateZ(10deg);
     }
     12.5% {
         transform: rotateZ(45deg);
     }
     25%{
         transform: rotateZ(45deg);
     }
     37.5% {
         transform: rotateZ(10deg);
     }
     50% {
         transform: rotateZ(5deg);
     }
     62.5%{
         transform: rotateZ(30deg);
     }
     75%{
         transform: rotateZ(5deg);
     }
     87.5%{
         transform: rotateZ(0deg);
     }
 }
 
 /* Right leg */
 @keyframes walkMoveRightLeg {
     0%, 100% {
         transform: rotateZ(-30deg);
     }
     12.5% {
         transform: rotateZ(-30deg);
     }
     25% {
         transform: rotateZ(10deg);
     }
     37.5%{
         transform: rotateZ(30deg);
     }
     50% {
         transform: rotateZ(35deg);
     }
     62.5%{
         transform: rotateZ(5deg);
     }
     75%{
         transform: rotateZ(-10deg);
     }
     87.5%{
         transform: rotateZ(-35deg);
     }
 }
 
 @keyframes walkMoveRightLowerLeg {
     0%, 100% {
         transform: rotateZ(5deg);
     }
     12.5% {
         transform: rotateZ(30deg);
     }
     25%{
         transform: rotateZ(15deg);
     }
     37.5% {
         transform: rotateZ(0deg);
     }
     50% {
         transform: rotateZ(10deg);
     }
     62.5%{
         transform: rotateZ(45deg);
     }
     75%{
         transform: rotateZ(45deg);
     }
     87.5%{
         transform: rotateZ(5deg);
     }
 }