body {
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 16px 16px;
  background-position: 50%;
    background-image: linear-gradient(
      90deg,
      rgba(55, 55, 255, 0.2) 1px,
      transparent 0
    ),
    linear-gradient(180deg, rgba(55, 55, 255, 0.2) 1px, transparent 0);
  }
  :root {
    --runDuration: 1s;
    --walkDuration: 2s;
    --torsoWidth: 100px;
  }

  
  .root {
    width: 30px;
    transform: rotateZ(90deg);
  }

  .torso {
    width: 60px;
  }



  /* Left Hand */
  .hand-left {
    width: 40px;
    background: orange;
  }
  .hand-left-lower {
    width: 50px;
    transform: rotateZ(-20deg);
  }

  /* Right Hand */
  .hand-right {
    width: 40px;
    background: green;
  }
  .hand-right-lower {
    width: 50px;
    transform: rotateZ(-20deg);
  }

  /* Left Leg */
  .leg-left {
    width: 50px;
  }
  .leg-left-lower {
    width: 60px;
  }

  /* Right Leg */
  .leg-right {
    width: 50px;
  }
  .leg-right-lower {
    width: 60px;
  }
  .head {
    width: 40px;
    transform: rotateZ(180deg);
  }